# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# SQLite
db.sqlite3

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/

# Docker
postgres_data/

# Media
media/